{
  "presets": ["env"],
  "plugins": [
    "array-includes",
    "transform-decorators-legacy",
    "transform-class-properties",
    [
      "transform-es2015-classes",
      { "loose": true }
    ],
    "transform-object-rest-spread",
    "transform-react-pure-class-to-function"
  ]
}
